<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :código %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :aerolínea %><br />
    <%= f.text_field :aerolinea %>
  </div>
  <div class="field">
    <%= f.label :salida %><br />
    <%= f.datetime_select :salida %>
  </div>
  <div class="field">
    <%= f.label :llegada %><br />
    <%= f.datetime_select :llegada %>
  </div>
  <div class="field">
    <%= f.label :ciudad %><br />
    <%= f.text_field :ciudad %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.check_box :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
